.row-header {
  margin: 0px auto;
  padding: 0px 0px;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
  color: #000000;
}
body {
  align: center;
  padding: 50px 0px 0px 0px;
  z-index: 0;
}
.affix {
  top: 100px;
}
#carouselButtons {
  bottom: 0px;
  position: absolute;
  right: 0px;
}
.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}
.navbar-inverse {
  background: #303f9f;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a {
  background: #1a237e;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a:hover {
  background: #1a237e;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a:focus {
  background: #1a237e;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a {
  background: #1a237e;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a:hover {
  background: #1a237e;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a:focus {
  background: #1a237e;
  color: #ffffff;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
  background-color: #303f9f;
  color: #eeeeee;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
  color: #000000;
}
.navbar-inverse .navbar-nav .open .dropdown-menu {
  background-color: #303f9f;
  color: #eeeeee;
}