.row-header {
    margin: 0px auto;
    padding: 0px 0px;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
    color: #000000;
}

body {
    align: center;
    padding-top: 50px;
    z-index: 0;
}

.affix {
    top: 100px;
}

#carouselButtons {
    bottom: 0px;
    position: absolute;
    right: 0px;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px;
    border-bottom: 2px ridge;
    min-height: 400px;
}

.row-footer {
    margin: 0px auto;
    padding: 20px 0px;
    background-color: #AfAfAf;
}

.thumbnail {
    margin-bottom: 20px;
}

.#description {
    height: 20px;
}

.row-small {
    margin: 0px auto;
    padding: 50px 0px;
    border-bottom: 2px ridge;
}

.row-support {
    margin: 0px auto;
    padding: 50px 0px;
    min-height: 400px;
}

.row-carousel {
    margin: 0px auto;
}

.firstword {
    float: left;
    font-size: 40px;
    line-height: 25px;
    padding-top: 10px;
    padding-right: 8px;
    padding-left: 3px;
}

@media screen and (min-width:540px) {
    .firstword {
        font-size: 75px;
        line-height: 60px;
    }
}